.white {
    background-color: white;
}
.cream {
    background-color: #E4D8C7;
}
.green-white {
    background-color: #DCDCD2;
}
.lightcyan {
    background-color: lightcyan;
}
.pink {
    background-color: pink;
}
.pantone {
    background-color: #815765;
}
.mocha {
    background-color: #5A4C43;
}
.bordeaux {
    background-color: #785954;
}
.lightpink {
    background-color: #E3B19D;
}
.orange-pink {
    background-color: #D8A98B;
}
.light-orange {
    background-color: #FF925E;
}
.darkerorange {
    background-color: #C86225;
}
.muted-lime {
    background-color: #CFC97C;
}
.yellow {
    background-color: #FABB00;
}
.toasted {
    background-color: #BFA579;
}
.green {
    background: $green-color;
}
.blue-green {
    background-color: #1B474A;
}
.militar-green {
    background-color: #545841;
}
.grey {
    background-color: grey;
}
.mint-green {
    background-color: #00B7AC;
}
.darkgreen {
    background-color: #0E6739;
}
.cyan {
    background: $cyan-color;
}
.lightblue {
    background-color: #007FB6;
}
.blue {
    background-color: #013789;
}

.yellowgreen {
    background-color: #D5E171;
}
.orangered {
    background-color: orangered;
}
.carmine {
    background-color: #862237;
}
.red {
    background: $red-color;
}
.dark-purple {
    background-color: #302041;
}
.darkerblue {
    background-color: #2D2F38;
}
.black {
    background-color: #232325;
}



















