.black {
    background-color: #232325;
}

.muted-lime {
    background-color: #CFC97C;
}

.grey {
    background-color: grey;
}

.pantone {
    background-color: #815765;
}

.green-white {
    background-color: #DCDCD2;
}

.toasted {
    background-color: #BFA579;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.dark-purple {
    background-color: #302041;
}

.yellowgreen {
    background-color: #D5E171;
}

.orangered {
    background-color: orangered;
}

.green {
    background: $green-color;
}

.red {
    background: $red-color;
}

.cyan {
    background: $cyan-color;
}


