.black {
    background-color: #232325;
}

.muted-lime {
    background-color: #CFC97C;
}

.grey {
    background-color: grey;
}

.pantone {
    background-color: #815765;
}

.green-white {
    background-color: #DCDCD2;
}

.toasted {
    background-color: #BFA579;
}

.white {
    background-color: white;
}

.blue {
    background-color: #013789;
}

.lightblue {
    background-color: #007FB6;
}

.pink {
    background-color: pink;
}

.lightpink {
    background-color: #E3B19D;
}

.dark-purple {
    background-color: #302041;
}

.yellowgreen {
    background-color: #D5E171;
}

.light-orange {
    background-color: #FF925E;
}

.orangered {
    background-color: orangered;
}

.darkerorange {
    background-color: #C86225;
}

.orange-pink {
    background-color: #D8A98B;
}

.green {
    background: $green-color;
}

.darkgreen {
    background-color: #0E6739;
}

.red {
    background: $red-color;
}

.cyan {
    background: $cyan-color;
}

.lightcyan {
    background-color: lightcyan;
}

.blue-green {
    background-color: #1B474A;
}

.bordeaux {
    background-color: #785954;
}

.yellow {
    background-color: #FABB00;
}

.cream {
    background-color: #E4D8C7;
}

.darkerblue {
    background-color: #2D2F38;
}