@keyframes flicker-green {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #000,
        0 0 10px #fff,
        0 0 18px $green-color,
        0 0 38px $green-color,
        0 0 73px $green-color;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: 
        0 0 4px #000,
        0 0 5px #fff,
        0 0 9px $green-color,
        0 0 19px $green-color,
        0 0 36px $green-color;
    }    
}

@keyframes flicker-green-bg {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 1px #000,
        0 0 4px #fff,
        0 0 5px $green-color,
        0 0 8px $green-color,
        0 0 10px $green-color;
    
    }
    
    20%, 24%, 55% {        
        box-shadow: 
        0 0 1px #000,
        0 0 2px #fff,
        0 0 2.5px $green-color,
        0 0 4px $green-color,
        0 0 5px $green-color;
    }    
}

@keyframes flicker-red {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #000,
        0 0 18px $red-color,
        0 0 38px $red-color,
        0 0 73px $red-color;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: 
        0 0 5px #000,
        0 0 9px $red-color,
        0 0 19px $red-color,
        0 0 36px $red-color;
    }    
}

@keyframes flicker-red-bg {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 1px #000,
        0 0 4px #fff,
        0 0 5px $red-color,
        0 0 8px $red-color,
        0 0 10px $red-color;
    
    }
    
    20%, 24%, 55% {        
        box-shadow: 
        0 0 1px #000,
        0 0 2px #fff,
        0 0 2.5px $red-color,
        0 0 4px $red-color,
        0 0 5px $red-color;
    }    
}

@keyframes flicker-cyan {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #000,
        0 0 10px #fff,
        0 0 18px $cyan-color,
        0 0 38px $cyan-color,
        0 0 73px $cyan-color;
    }
    
    20%, 24%, 55% {        
        text-shadow: 
        0 0 4px #000,
        0 0 5px #fff,
        0 0 9px $cyan-color,
        0 0 19px $cyan-color,
        0 0 36px $cyan-color;
    }    
}

@keyframes flicker-cyan-bg {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 1px #000,
        0 0 4px #fff,
        0 0 5px $cyan-color,
        0 0 8px $cyan-color,
        0 0 10px $cyan-color;
    
    }
    
    20%, 24%, 55% {        
        box-shadow: 
        0 0 1px #000,
        0 0 2px #fff,
        0 0 2.5px $cyan-color,
        0 0 4px $cyan-color,
        0 0 5px $cyan-color;
    }    
}

@keyframes flicker-darkgreen {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #000,
        0 0 10px #fff,
        0 0 18px $darkgreen-color,
        0 0 38px $darkgreen-color,
        0 0 73px $darkgreen-color;
    }
    
    20%, 24%, 55% {        
        text-shadow: 
        0 0 4px #000,
        0 0 5px #fff,
        0 0 9px $darkgreen-color,
        0 0 19px $darkgreen-color,
        0 0 36px $darkgreen-color;
    }    
}
